<h1>Surgerys</h1>

<% @doctors.each do |surgery| %>
  <section id="surgery-<%= surgery.id %>">
    <ul>
      <li>Title: <%= surgery.title %></li>
      <li>Day of week: <%= surgery.day_of_week %></li>
      <li>Operating room number: <%= surgery.operating_room_number %></li>
      <li>Average years practiced: <%= surgery.average %></li>
    </ul>
  </section>
<% end %>
